.home{
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
     

    .homeImg{
        width: 100%;
        mask-image: linear-gradient(to bottom, rgba(0,0,0,2),rgba(0,0,0,0));
        z-index: -1;
        margin-bottom: -300px;
    }
    .productRow{
        display: flex;
        z-index: 1;
        margin-left: 10px;
        margin-right: 10px;

    }
}